  <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <hr>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <%= link_to "/", class: "nav-link align-middle px-0" do %>
            <i class="fs-4 bi-house"></i>
            <span class="ms-1 d-none d-sm-inline">Home</span>
          <% end %>
        </li>
        <li>
          <a href="<%= generate_code_docs_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline"> Document Generator</span>
          </a>
        </li>

        <li>
          <a href="<%= code_generator_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Code Generator</span>
          </a>
        </li>

        <li>
          <a href="<%= code_refactor_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Code Refactor</span>
          </a>
        </li>

        <li>
          <a href="<%= generate_test_cases_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Test Cases Generator</span>
          </a>
        </li>

        <li>
          <a href="<%= new_email_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Email Template Generator</span>
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
