  <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">User</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
          <li><%= link_to 'New Project',"#", class: "dropdown-item" %></li>
          <li><%= link_to 'Settings',"#", class: "dropdown-item" %></li>
          <li><%= link_to 'Profile',"#", class: "dropdown-item" %></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <%= link_to "/", class: "nav-link align-middle px-0" do %>
            <i class="fs-4 bi-house"></i>
            <span class="ms-1 d-none d-sm-inline">Home</span>
          <% end %>
        </li>
        <li>
          <a href="<%= generate_code_docs_path %>" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline"> Document Generator</span>
          </a>
        </li>

        <li>
          <a href="code_generator" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Code Generator</span>
          </a>
        </li>

        <li>
          <a href="test_cases" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Test Cases Generator</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
        </li>
        <li>
          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
          <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
            </li>
          </ul>
        </li>
      </ul>
      <hr>
    </div>
  </div>
