<%= form_with url: generate_test_cases_path, method: :post, local: false, data: { turbo: false } do |f| %>
  <div class="d-flex justify-content-center mt-2">
    <h1> Generate Test Cases </h1>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <%= f.select(:language, options_for_select(collection_of_languages,  params[:language]), {include_blank: 'Select Language'}, { class: 'btn btn-outline-default dropdown-toggle fs-3 text' }) %>
  </div>
  <div class='input-field g-2'>
    <%= f.text_area :code, rows: 10, cols: 80, value: params[:code], required: true, class: 'form-control fs-4 text-light bg-dark', placeholder: "To generate test cases, enter or paste your code here ..."%>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <%= f.submit 'Generate', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
<%= render 'response' %>
