<%= form_with url: generate_test_cases_path, method: :post, local: true, data: { turbo: false } do |f| %>
  <div>
    Write Test cases for <%= f.select(:language, options_for_select(['Ruby on Rails', 'Java']), {include_blank: 'Select Option'}, {class: 'form-control' }) %>
  </div>
  <div>
    <%= f.text_area :code %>
  </div>
  <%= f.submit 'Generate Test Cases' %>
<% end %>

<% if @test_cases.present? %>
  <h2>Generated Test Cases:</h2>
  <% @test_cases.each do |t|%>
    <div><%= t %></div>
  <% end %>
<% end %>
