<%= form_with url: generate_path, method: :post,local: true, data: { turbo: false } do |f|%>
  Write function in <%= f.select(:language, options_for_select(['Ruby', 'Java','javascript','python','C','C++'],selected: @language), {include_blank: 'Select Option'} , {class: 'form-control' }) %>
  that
  <%= f.text_field :code, value: params[:code], class: 'form-control' %>
  <%= f.submit 'Generate code' %>
<% end %>

<% if @generated_code.present? %>
  <h2>Generated code:</h2>
  <pre>
    <code>
      <% @generated_code.each do |t| %>
        <%= t %>
      <% end %>
    </code>
  </pre>   
<% end %>
